bazel-bin
bazel-genfiles
bazel-out
bazel-src
bazel-testlogs
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.a
*pb.h
*pb.cc
Makefile
CTestTestfile.cmake
*.cmake
_deps
.gdb_history
bin
build
external
*_pb2.py
*_pb.py
*_pb.rb
*__pycache__*
__init__.py
*.ipynb
